<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %>
    <%= link_to "X", restaurant_path(restaurant), method: :delete,remote: :true, class: "text-danger"  %>
    </li>
  <% end %>
</ul>